In [1]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.17.tar.gz (82 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.32.3)
Collecting tqdm (from kaggle)
  Downloading tqdm-4.66.5-py3-none-any.whl.metadata (57 kB)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from bleach->kaggle) (0.5.1)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\realn\appdata\local\programs\python\python312\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading tqdm-4.66.5-py3-none-any.whl (78 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (pyproject.toml): started
  Building wheel for kaggle (pyproject.toml): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105796 sha256=ff6f5b514cd8a1b7f9c83d894d8baf60f1f6345c5eab5324d8b03651d7945fb7
  Stored in directory: c:\users\realn\appdata\local\pip\cache\wheels\46\d2\26\84d0a1acdb9c6baccf7d28cf06962ec80529fe1ad938489983
Successfully built kaggle
Installing collected packages: text-unidecode, tqdm, python-slugify, kaggle
Successfully installed kaggle-1.6.17 python-slugify-8.0.4 text-unidecode-1.3 tqdm-4.66.5

In [1]:
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [1]:
#extract file from zip
import zipfile
zip_ref=zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [2]:
#read data from file and handle data from
import pandas as pd
df=pd.read_csv('orders.csv')
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [3]:
import numpy as np
df.replace(['Not Available', 'unknown'],np.nan,inplace=True)

In [4]:
df.head(20)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

In [5]:
#rename columns name and replace it with lower case amd space with '_'
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [6]:
# derived a column for caluclating the profit and sales price
df['discount']=(df['list_price']*df['discount_percent'])/100

In [8]:
#df['sales_price']=df['list_price']-df['discount']
df['profit']=df['sales_price']-df['cost_price']
df.head()

KeyError: 'sales_price'

In [9]:
# convert order date from object data type to datetime
df['order_date']=pd.to_datetime(df['order_date'],format='%Y-%m-%d')

In [10]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
dtype: object

In [11]:
#drop unreqired columns like cost_price,list_price,discount_percentage
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2

In [12]:
#load data into sql server
import sqlalchemy as sql
username = 'postgres'  # e.g., 'postgres'
password = '1234'  # e.g., 'password'
host = 'localhost'          # e.g., 'localhost'
port = '5432'               # Default PostgreSQL port
database = 'sys'  # e.g., 'testdb'
connection_string = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'
# Create the engine
engine = sql.create_engine(connection_string)

# Test the connection
connection = engine.connect()
print("Connection established successfully")

Connection established successfully

In [13]:
#load the data into sql server using append option
df.to_sql('df_orders',con=connection,index=False,if_exists='append')

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "df_orders_pkey"
DETAIL:  Key (order_id)=(1) already exists.

[SQL: INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount) VALUES (%(order_id__0)s, %(order_date__0)s, %(ship_mode__0)s, %(segment__0)s, %(countr ... 267279 characters truncated ... %(category__999)s, %(sub_category__999)s, %(product_id__999)s, %(quantity__999)s, %(discount__999)s)]
[parameters: {'sub_category__0': 'Bookcases', 'order_id__0': 1, 'city__0': 'Henderson', 'state__0': 'Kentucky', 'product_id__0': 'FUR-BO-10001798', 'category__0': 'Furniture', 'order_date__0': datetime.datetime(2023, 3, 1, 0, 0), 'region__0': 'South', 'discount__0': 5.2, 'segment__0': 'Consumer', 'ship_mode__0': 'Second Class', 'postal_code__0': 42420, 'quantity__0': 2, 'country__0': 'United States', 'sub_category__1': 'Chairs', 'order_id__1': 2, 'city__1': 'Henderson', 'state__1': 'Kentucky', 'product_id__1': 'FUR-CH-10000454', 'category__1': 'Furniture', 'order_date__1': datetime.datetime(2023, 8, 15, 0, 0), 'region__1': 'South', 'discount__1': 21.9, 'segment__1': 'Consumer', 'ship_mode__1': 'Second Class', 'postal_code__1': 42420, 'quantity__1': 3, 'country__1': 'United States', 'sub_category__2': 'Labels', 'order_id__2': 3, 'city__2': 'Los Angeles', 'state__2': 'California', 'product_id__2': 'OFF-LA-10000240', 'category__2': 'Office Supplies', 'order_date__2': datetime.datetime(2023, 1, 10, 0, 0), 'region__2': 'West', 'discount__2': 0.5, 'segment__2': 'Corporate', 'ship_mode__2': 'Second Class', 'postal_code__2': 90036, 'quantity__2': 2, 'country__2': 'United States', 'sub_category__3': 'Tables', 'order_id__3': 4, 'city__3': 'Fort Lauderdale', 'state__3': 'Florida', 'product_id__3': 'FUR-TA-10000577', 'category__3': 'Furniture', 'order_date__3': datetime.datetime(2022, 6, 18, 0, 0), 'region__3': 'South' ... 13900 parameters truncated ... 'order_date__996': datetime.datetime(2023, 3, 25, 0, 0), 'region__996': 'South', 'discount__996': 0.4, 'segment__996': 'Consumer', 'ship_mode__996': 'Standard Class', 'postal_code__996': 42420, 'quantity__996': 1, 'country__996': 'United States', 'sub_category__997': 'Storage', 'order_id__997': 998, 'city__997': 'Henderson', 'state__997': 'Kentucky', 'product_id__997': 'OFF-ST-10004258', 'category__997': 'Office Supplies', 'order_date__997': datetime.datetime(2023, 2, 17, 0, 0), 'region__997': 'South', 'discount__997': 1.2, 'segment__997': 'Consumer', 'ship_mode__997': 'Standard Class', 'postal_code__997': 42420, 'quantity__997': 3, 'country__997': 'United States', 'sub_category__998': 'Furnishings', 'order_id__998': 999, 'city__998': 'Henderson', 'state__998': 'Kentucky', 'product_id__998': 'FUR-FU-10002885', 'category__998': 'Furniture', 'order_date__998': datetime.datetime(2023, 11, 25, 0, 0), 'region__998': 'South', 'discount__998': 0.4, 'segment__998': 'Consumer', 'ship_mode__998': 'Standard Class', 'postal_code__998': 42420, 'quantity__998': 5, 'country__998': 'United States', 'sub_category__999': 'Furnishings', 'order_id__999': 1000, 'city__999': 'Henderson', 'state__999': 'Kentucky', 'product_id__999': 'FUR-FU-10001918', 'category__999': 'Furniture', 'order_date__999': datetime.datetime(2023, 9, 5, 0, 0), 'region__999': 'South', 'discount__999': 0.9, 'segment__999': 'Consumer', 'ship_mode__999': 'Standard Class', 'postal_code__999': 42420, 'quantity__999': 7, 'country__999': 'United States'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [14]:
df.shape

(9994, 14)